@media screen and (max-width: 599px) {
  .slide__container .next img, .slide__container .prev img {
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: rgb(98, 117, 127);
  font-family: Arial Narrow, sans-serif;
}
@media screen and (max-width: 599px) {
  body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0px 0px 0px 0px;
    max-width: 599px;
  }
}
@media screen and (max-width: 750px) {
  body {
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#best {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgb(168, 201, 239);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
}
@media screen and (max-width: 750px) {
  #best {
    margin-top: 0px;
  }
}
@media screen and (max-width: 599px) {
  #best {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.best-container__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 20px 20px 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.best-container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.best-container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: rgb(235, 237, 226);
}
.best-container__text--title {
  font-size: 2rem;
}
.best-container__text p {
  text-align: center;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#slide_best_movies {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
#slide_drama_movies {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#slide_horror_movies {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
#slide_action_movies {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.modal__container {
  z-index: 2;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: visibility 0.4s;
  transition: visibility 0.4s;
  overflow: scroll;
}
.modal__container h1 {
  font-size: 2rem;
}
.modal__container p {
  font-size: 1rem;
}
.modal__container.active {
  visibility: visible;
}
.modal__container.active .overlay {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.modal__content {
  width: 95%;
  max-width: 500px;
  min-width: 200px;
  padding: 30px;
  background: rgb(168, 201, 239);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(235, 237, 226);
}
@media screen and (max-width: 599px) {
  .modal__content {
    width: 80%;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .modal__content .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .modal__content .main__cover, .modal__content .main img {
    display: none;
  }
}
.modal__content .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
}
.modal__content .main__cover {
  width: 100%;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__content .main__cover img {
  -webkit-box-shadow: 10px 5px 5px #14121d;
          box-shadow: 10px 5px 5px #14121d;
}
.modal__content .main .info {
  width: 100%;
  margin-left: 5px;
}
.modal__content .secondary {
  margin-top: 5px;
  border: 2px solid rgb(235, 237, 226);
  padding: 5px;
  -webkit-box-shadow: 10px 5px 5px #14121d;
          box-shadow: 10px 5px 5px #14121d;
}
.modal__button {
  top: 10px;
  right: 10px;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8274509804);
  -webkit-transition: opacity 0.4s 0.2s ease-out;
  transition: opacity 0.4s 0.2s ease-out;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 750px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 321px;
      flex-basis: 321px;
}
@media screen and (max-width: 750px) {
  .header__logo {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
  }
  .header__logo img {
    height: 150px;
  }
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__navbar ul li {
  font-size: 2rem;
  color: rgb(235, 237, 226);
  margin-right: 50px;
}
@media screen and (max-width: 750px) {
  .header__navbar ul li {
    font-size: 1.5rem;
  }
}
.header__navbar ul li:hover {
  border: 2px solid rgb(168, 201, 239);
  border-radius: 10px;
}

.slide {
  margin-top: 50px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slide__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide__title h1 {
  font-size: 2rem;
  color: rgb(235, 237, 226);
}
@media screen and (max-width: 599px) {
  .slide__title h1 {
    font-size: 1.5rem;
  }
}
.slide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.slide__container .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  cursor: pointer;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.slide__container .prev:hover {
  background: rgba(20, 20, 20, 0.26);
}
.slide__container .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  cursor: pointer;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.slide__container .next:hover {
  background: rgba(20, 20, 20, 0.26);
}
.slide__container .covers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  overflow: hidden;
}
.slide__container .covers .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide__container .covers .cards img {
  border: 2px solid rgb(168, 201, 239);
  margin-right: 3px;
}
.slide__container .covers .cards img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.close-button {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

.play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 178px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(222, 64, 64);
  color: rgb(235, 237, 226);
  font-size: 1rem;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.play-button:hover {
  background-color: rgb(98, 117, 127);
}