$bg_color : rgba(98, 117, 127, 1);
$f_color: rgba(255, 255, 255, 1);
$font: Arial Narrow, sans-serif;
$best_bg_color: rgba(168, 201, 239, 1);
$breakpoints: (mobile: 375px, pad: 750px);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
    }
  }

@mixin pad {
    @media screen and (max-width: map-get($breakpoints, pad)){
      @content;
    }
  }


@mixin nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
  cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding-top: 20px;
    padding-bottom: 100px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: $bg_color;
    font-family: $font;

    @include mobile-only{
      justify-content: flex-start;
      padding: 0px 0px 0px 0px;
      max-width: map-get($breakpoints, mobile);
    }

    @include pad{
      padding-bottom: 30px;
      padding-left: 5px;
      padding-right: 5px;
    }

  }

.header__container {
  
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-basis: 100%;
    margin-bottom: 30px;

    @include pad{
      flex-direction: column;
      align-items: center;
      margin-bottom: 5px;
    }

    .header__container__logo {
      display: flex;
      flex-basis: 321px;
      @include pad{
        flex-basis: 100px;
        img{
          height:150px;
        }
      }
    }

    .header__container__navbar {
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
      align-items: flex-end;
      justify-content: flex-end;

      ul{
        display: flex;
        list-style: none;
        align-items: flex-end;

        li{
          font-size: 2rem;
          color: $f_color;
          margin-right: 50px;

          @include pad{
            font-size: 1.5rem;
          }

          &:hover{
            border:2px solid $best_bg_color;
            border-radius: 10px;

          }
        }
      }
    }

  }

#best{
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color:$best_bg_color;
  flex-basis: 100%;
  margin-top: 20px;
  padding-right: 50px;
  padding-left: 50px;

  @include pad{
    margin-top: 0px;
  }

  @include mobile-only{
    flex-flow: column ;
    align-items: center;
  }

    .best__container__cover{
      display: flex;
      margin: 20px 20px 20px 20px;
      order: 2;
    }

    .best__container_info{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      order: 1;

      .best__container_info__text{
        display: flex;

        flex-flow: column nowrap;
        color: $f_color;
        h1{
          font-size: 2rem;
        }

        h1, p{
          text-align: center;
        }

        
      }

      .best__container_info__btn{
          display: flex;
          flex-direction: row;
          width: 178px;
          justify-content: center;
          margin-top: 50px;
          border-radius: 5px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgba(222, 64, 64, 1);
          color:$f_color;
          font-size: 1rem;
          letter-spacing: 0%;
          text-align: center;
          cursor: pointer;
          &:hover{
            background-color:$bg_color ;
          }
      }

  }

}

#main{
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
}

.slide{
  margin-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  align-items: stretch;
  .slide__title{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    
    h1{
      font-size: 2rem;
      color: $f_color;
    }

    @include mobile-only{
      h1{
        font-size: 1.5rem;
      }
      
    }
  }
  
  .slide__container{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
  }
    .slide__container__prev{
      @include nav;
      order: 1;
      
    }
    .slide__container__next{
      @include nav;
      order: 3;
    }

    @include mobile-only{
      .slide__container__prev, .slide__container__next{
        img{
          height: 50px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .slide__container__cover{
      display: flex;
      flex-basis: 80%;
      order: 2;
      overflow: scroll;

      .slide__container__cover__items{
        display: flex;
        img{
          border: 2px solid $best_bg_color;
          margin-right: 3px;
          &:hover{
            transform: scale(1.1);
            z-index: 1;
          }
        }
      }
    }


  }

#slide{
  &_best_movies{
    order: 1;
  }
  &_drama_movies{
    order: 2;
  }
  &_horror_movies{
    order: 3;
  }
  &_action_movies{
    order: 4;
  }

}