body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: rgb(98, 117, 127);
  font-family: Arial Narrow, sans-serif;
}
@media screen and (max-width: 599px) {
  body {
    justify-content: flex-start;
    padding: 0px 0px 0px 0px;
    max-width: 599px;
  }
}
@media screen and (max-width: 750px) {
  body {
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-basis: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 750px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
}
.header__container .header__container__logo {
  display: flex;
  flex-basis: 321px;
}
@media screen and (max-width: 750px) {
  .header__container .header__container__logo {
    flex-basis: 100px;
  }
  .header__container .header__container__logo img {
    height: 150px;
  }
}
.header__container .header__container__navbar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
.header__container .header__container__navbar ul {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.header__container .header__container__navbar ul li {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-right: 50px;
}
@media screen and (max-width: 750px) {
  .header__container .header__container__navbar ul li {
    font-size: 1.5rem;
  }
}
.header__container .header__container__navbar ul li:hover {
  border: 2px solid rgb(168, 201, 239);
  border-radius: 10px;
}

#best {
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: rgb(168, 201, 239);
  flex-basis: 100%;
  margin-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
}
@media screen and (max-width: 750px) {
  #best {
    margin-top: 0px;
  }
}
@media screen and (max-width: 599px) {
  #best {
    flex-flow: column;
    align-items: center;
  }
}
#best .best__container__cover {
  display: flex;
  margin: 20px 20px 20px 20px;
  order: 2;
}
#best .best__container_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  order: 1;
}
#best .best__container_info .best__container_info__text {
  display: flex;
  flex-flow: column nowrap;
  color: rgb(255, 255, 255);
}
#best .best__container_info .best__container_info__text #best_movie_title {
  font-size: 2rem;
}
#best .best__container_info .best__container_info__text p {
  text-align: center;
}
#best .best__container_info .best__container_info__btn {
  display: flex;
  flex-direction: row;
  width: 178px;
  justify-content: center;
  margin-top: 50px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(222, 64, 64);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
#best .best__container_info .best__container_info__btn:hover {
  background-color: rgb(98, 117, 127);
}

#main {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
}

.slide {
  margin-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  align-items: stretch;
}
.slide .slide__title {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.slide .slide__title h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 599px) {
  .slide .slide__title h1 {
    font-size: 1.5rem;
  }
}
.slide .slide__container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}
.slide .slide__container__prev {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
  cursor: pointer;
  order: 1;
}
.slide .slide__container__prev:hover {
  background: rgba(20, 20, 20, 0.26);
}
.slide .slide__container__next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
  cursor: pointer;
  order: 3;
}
.slide .slide__container__next:hover {
  background: rgba(20, 20, 20, 0.26);
}
@media screen and (max-width: 599px) {
  .slide .slide__container .slide__container__prev img, .slide .slide__container .slide__container__next img {
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.slide .slide__container__cover {
  display: flex;
  flex-basis: 80%;
  order: 2;
  overflow: hidden;
}
.slide .slide__container__cover .slide__container__cover__items {
  display: flex;
}
.slide .slide__container__cover .slide__container__cover__items img {
  border: 2px solid rgb(168, 201, 239);
  margin-right: 3px;
}
.slide .slide__container__cover .slide__container__cover__items img:hover {
  transform: scale(1.1);
  z-index: 1;
}

#slide_best_movies {
  order: 1;
}
#slide_drama_movies {
  order: 2;
}
#slide_horror_movies {
  order: 3;
}
#slide_action_movies {
  order: 4;
}