.modal__container {
  z-index: 2;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  overflow: scroll;
}
.modal__container h1 {
  font-size: 2rem;
}
.modal__container p {
  font-size: 1rem;
}
.modal__container.active {
  visibility: visible;
}
.modal__container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.modal__button {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}
.modal__content {
  width: 95%;
  max-width: 500px;
  min-width: 200px;
  padding: 30px;
  background: rgb(168, 201, 239);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgb(235, 237, 226);
}
@media screen and (max-width: 599px) {
  .modal__content {
    width: 80%;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .modal__content .main {
    flex-flow: column wrap;
  }
  .modal__content .main__cover, .modal__content .main img {
    display: none;
  }
}
.modal__content .main {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  margin-bottom: 5px;
}
.modal__content .main__cover {
  width: 100%;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__content .main__cover img {
  box-shadow: 10px 5px 5px #14121d;
}
.modal__content .main .info {
  width: 100%;
  margin-left: 5px;
}
.modal__content .secondary {
  margin-top: 5px;
  border: 2px solid rgb(235, 237, 226);
  padding: 5px;
  box-shadow: 10px 5px 5px #14121d;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8274509804);
  transition: opacity 0.4s 0.2s ease-out;
}