body{
    background:black;
    color: white;
    padding: 70px 70px 70px 70px;

}

.btn {
    position: absolute;
    background-color: rgb(0, 157, 255);
    color: #141414;
    padding: 5px;
    border-radius: 0.2em;
    transition: all 0.3s;
    float: right;
    right: 45px;
    top: 45px;
  }

  .btn:hover {
    color: rgb(0, 157, 255);
    background-color:white;
  }
  

.modal__close {
    position: absolute;
    color: rgb(0, 157, 255);
    font-size: 28px;
    font-weight: bold;
    float: left;
    top: -14px;
    left: -14px;
  }

.modal__close:hover, .modal__close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
#main img:hover {
    transform: scale(1.1);
}

#main h2 {
    font-size: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 50px;
    background: #07657A;
    border: 1px solid beige;

}

header h1{
    padding-left: 30px;
}

header ul{
    list-style-type: none;
    display: flex;
    
}

header li{
    margin-right: 15px;
    float: right;
    font-size: 20px;

}

#main{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;

}

#main .slider{
    height: 330px;
    position: relative;
    overflow-x: scroll;

}
#main .slider .row{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.row .item{
    position: relative;
    cursor: pointer;
}

.item:hover{
    transform: scale(1.1);
    z-index: 20;
}

/* modal */

.modal {
    display: none;
    box-sizing: border-box;
    z-index: 40;
    position:fixed;
    background: #07657A;
    box-shadow: 0px 4px 4px rgba(143, 59, 59, 0.25);
    border-radius: 45px;
    height: 500px;
    width: 800px;
    border-radius: 50px;
    top: 100px;
    
}
#movie_content{
    width: 100%;
}
/* movie_cover */

#movie_image {
    position: absolute;
    left: 45px;
    top: 45px;
}

/* TITLE OF MOVIE */

#movie_title{
    position: absolute;
    left: 245px;
    top: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    color: #F5F5F5;

}

/* imbd_score */

#movie_score{
    position: absolute;
    float: right;
    right:45px;
    top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #F5F5F5;
}

/* year */

#movie_year{
    position: absolute;
    float: right;
    right: 280px;
    top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;


    color: #F5F5F5;
}

/* countrie */

#movie_countrie{
    position: absolute;
    left: 245px;
    top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #F5F5F5;
}

/* genre */

#movie_genre{
    position: absolute;
    left: 45px;
    top: 330px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #F5F5F5;
}


/* directors */

#movie_directors{
    position: absolute;
    left: 45px;
    top: 365px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;

    color: #F5F5F5;
}

/* actors */

#movie_actors{
    position: absolute;
    left: 45px;
    top: 400px;    
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #F5F5F5;
}

/* duration */

#movie_duration{
    position: absolute;
    left: 245px;
    top: 330px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F5F5F5;
}


/* description */

#movie_description{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #F5F5F5;
}


/* description_box */
#movie_description_box{
    box-sizing: border-box;
    height: 190px;
    width: 520px;
    left: 245px;
    top: 120px;
    border-radius: 0px;
    position: absolute;
    border: 1px solid #F5F5F5;
    overflow: scroll;
}

#best{
    position: relative;
    margin: auto;
    border: 1px solid beige;
    padding: 20px;
}

#best ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
}

#best li{
    margin-right: 20px;
    font-size: 20px;
}

.best_movie_info{
    position: absolute;
    left: 400px;
    top:0px;

}

#best_movie_img{
    width: 30%;
    cursor: pointer;

}

#best_movie_title{
    font-size: 50px;
    color: beige;
}

#best_movie_btn{
    position: relative;
    bottom: 0px;
    right: 0px;
}

#best_movie{
    order: 1;
}

#drama{
    order: 2;
}

#horror{
    order: 3;
}

#action{
    order: 4;
}

#biography{
    order: 5;
}

